!!!_Ouput_Video_Files_!!!/
!!!_Output_Video_Files_!!!/
logs/
config/
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
advanced/
mpv_advanced/
*.mp4
*.mp3
!mp3/Cool Dance Background Music (No CopyRights).mp3